:root {
  --container-gap: 1rem;
  --sidebar-width: 7rem;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  @apply text-body;

  &:has(.modal[data-show="on"]){
    overflow: hidden !important;
  }

}

[id]{scroll-margin-top: 8ex}

.row {
  @apply grid grid-cols-4 gap-1 sm:grid-cols-6 md:grid-cols-12 md:gap-2;
}

.ctr-gap{padding: var(--container-gap) var(--container-gap)}
.ctr-gap-x{padding: 0 var(--container-gap)}
.ctr-gap-y{padding: var(--container-gap) 0}
.ctr-gap-left{padding-left: var(--container-gap)}
.ctr-gap-right{padding-right: var(--container-gap)}
.ctr-gap-top{padding-top: var(--container-gap)}
.ctr-gap-bottom{padding-bottom: var(--container-gap)}

/*//////////////////////////////////////////////////////////*/
/*/////////////////////////// XS ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width:theme("screens.xs") ) {
  :root {
    --container-gap: 1.5rem;
  }
}

/*//////////////////////////////////////////////////////////*/
/*////////////////////////// SM ////////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width:theme("screens.sm") ) {
  :root {
    --container-gap: 2rem;
  }
}

/*//////////////////////////////////////////////////////////*/
/*////////////////////////// XG ////////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.xg") ) {
  :root {
    --container-gap: 3rem;
    --sidebar-width: 5rem;
  }
}

/*//////////////////////////////////////////////////////////*/
/*/////////////////////////// XL ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.xl") ) {
  :root {
    --container-gap: 4rem;
  }
}

/*//////////////////////////////////////////////////////////*/
/*////////////////////////// 2XL ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.2xl") ) {
  :root {
    --container-gap: 3.5%;
  }
}

/*//////////////////////////////////////////////////////////*/
/*/////////////////////////// 3XL //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.3xl") ) {
  :root {
    --container-gap: 4%;
  }
}

/*//////////////////////////////////////////////////////////*/
/*////////////////////////// 4XL ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.4xl") ) {
  :root {
    --container-gap: 3%;
  }
}

/*//////////////////////////////////////////////////////////*/
/*/////////////////////////// 5XL //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.5xl") ) {
  :root {
    --container-gap: 8%;
  }
}
