.section {
  @apply py-4 sm:py-8 xg:py-10 3xl:py-12;

  &-t {
    @apply pt-4 sm:pt-6 xg:pt-10 3xl:pt-12;
  }

  &-b {
    @apply pb-4 sm:pb-6 xg:pb-10 3xl:pb-12;
  }
}

.link-underline{
  width: fit-content;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% .2rem;
  transition: background-size .3s;

	&:hover{
		background-size: 100% .2rem;
	}

}

/*//////////////////////////////////////////////////////////*/
/*//////////////////////// MAX SM //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (max-width: theme("screens.sm")) {

  .mobile-wide-fit {
    max-width: inherit;
    width: calc(100% + var(--container-gap) * 2) !important;
    margin-left: calc(-1 * var(--container-gap)) !important;
  }

  /* Fit  */
  .fit-left {
    max-width: inherit;
    width: calc(100% + var(--container-gap)) !important;
    margin-left: calc(-1 * var(--container-gap));
  }

  .fit-right {
    max-width: inherit;
    width: calc(100% + var(--container-gap)) !important;
    margin-right: calc(-1 * var(--container-gap));
  }

}

/*//////////////////////////////////////////////////////////*/
/*////////////////////////// XG ////////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.xg")) {

  /* Fit  */
  .xg\:fit-left {
    max-width: inherit;
    width: calc(100% + var(--container-gap)) !important;
    margin-left: calc(-1 * var(--container-gap));
  }

  .xg\:fit-right {
    max-width: inherit;
    width: calc(100% + var(--container-gap)) !important;
    margin-right: calc(-1 * var(--container-gap));
  }

}
