---
import { Icon } from "astro-icon/components";
const currPath = Astro.url.pathname;

---
<div id="go-top" class="anchor" data-anchor="#top"  >
    <Icon name="mdi:arrow-up-thin" size='3.5rem' />
</div>

