---
const { serv = "Desarrollo web", lang = "es" } = Astro.props;

let servTxt, valTxt, contTxt;

if( lang == "pt" ){
  servTxt= "Serviço";
  valTxt = "Validade";
  contTxt = "Contato";
}else{
  servTxt = "Servicio";
  valTxt = "Validez";
  contTxt = "Contacto";
}

---

<div class="heading flex flex-col gap-3 mb-10 xg:mb-13">

  <div class="wp-block-columns">
    <div class="wp-block-column" style="flex-basis:33.33%">
      <h2 class="wp-block-heading"> { servTxt } </h2>
    </div>
    <div class="wp-block-column" style="flex-basis:66.66%">
      {serv}
    </div>
  </div>

  <div class="wp-block-columns">
    <div class="wp-block-column" style="flex-basis:33.33%">
      <h2 class="wp-block-heading" id="intro"> { valTxt } </h2>
    </div>
    <div class="wp-block-column" style="flex-basis:66.66%">
      Este presupuesto tiene una validez de 30 días  <br>
      desde la fecha de presentación del mismo.
    </div>
  </div>

  <div class="wp-block-columns">
    <div class="wp-block-column" style="flex-basis:33.33%">
      <h2 class="wp-block-heading" > { contTxt } </h2>
    </div>
    <div class="wp-block-column" style="flex-basis:66.66%">
      Nicolás González <br />
      nicolook.pro@gmail.com <br />
      +598 98 398 010 <br />
      <a href="https://nicowebsite.com" target='_blank' rel='noreferrer noopener' class="link-underline" >nicowebsite.com</a>
    </div>
  </div>
</div>
