---
import { Icon } from "astro-icon/components";
---

<section id="icons" class="container section">
  
  <div class="row">
    <div class="xg:col-[1/13] mb-10">
      <h2 class="h1 font-bold">Icons</h2>
    </div>
  </div>

  <div class="row py-2">
    <div class="xg:col-[3/4]">
      <Icon name="mdi:arrow-up-thin" size="3.5rem" />
    </div>
    <div class="xg:col-[4/5]">
      <Icon name="mdi:arrow-down-thin" size="3.5rem" />
    </div>
    <div class="xg:col-[5/6]">
      <Icon name="mdi:arrow-left-thin" size="3.5rem" />
    </div>
    <div class="xg:col-[6/7]">
      <Icon name="mdi:arrow-right-thin" size="3.5rem" />
    </div>
    <div class="xg:col-[7/8]">
      <Icon name="mdi:chevron-left" size="3.5rem" />
    </div>
    <div class="xg:col-[8/9]">
      <Icon name="mdi:chevron-right" size="3.5rem" />
    </div>
    <div class="xg:col-[9/10]">
      <Icon name="mdi:chevron-up" size="3.5rem" />
    </div>
    <div class="xg:col-[10/11]">
      <Icon name="mdi:chevron-down" size="3.5rem" />
    </div>
  </div>

  <div class="row py-2">
    <div class="xg:col-[3/4]">
      <Icon name="mdi:account-circle" size="3.5rem" />
    </div>
    <div class="xg:col-[4/5]">
      <Icon name="mdi:airplane-landing" size="3.5rem" />
    </div>
    <div class="xg:col-[5/6]">
      <Icon name="mdi:alarm-check" size="3.5rem" />
    </div>
    <div class="xg:col-[6/7]">
      <Icon name="mdi:alarm-bell" size="3.5rem" />
    </div>
    <div class="xg:col-[7/8]">
      <Icon name="mdi:alarm-light" size="3.5rem" />
    </div>
    <div class="xg:col-[8/9]">
      <Icon name="mdi:alarm-panel" size="3.5rem" />
    </div>
    <div class="xg:col-[9/10]">
      <Icon name="mdi:album" size="3.5rem" />
    </div>
    <div class="xg:col-[10/11]">
      <Icon name="mdi:account-circle" size="3.5rem" />
    </div>
  </div>

  <div class="row py-2">
    <div class="xg:col-[3/4]">
      <Icon name="mdi:account-box" size="3.5rem" />
    </div>
    <div class="xg:col-[4/5]">
      <Icon name="mdi:allergy" size="3.5rem" />
    </div>
    <div class="xg:col-[5/6]">
      <Icon name="mdi:airballoon-outline" size="3.5rem" />
    </div>
    <div class="xg:col-[6/7]">
      <Icon name="mdi:account-tie-hat" size="3.5rem" />
    </div>
    <div class="xg:col-[7/8]">
      <Icon name="mdi:animation-outline" size="3.5rem" />
    </div>
    <div class="xg:col-[8/9]">
      <Icon name="mdi:anvil" size="3.5rem" />
    </div>
    <div class="xg:col-[9/10]">
      <Icon name="mdi:alien" size="3.5rem" />
    </div>
    <div class="xg:col-[10/11]">
      <Icon name="mdi:amplifier" size="3.5rem" />
    </div>
  </div>

  <div class="row py-2">
    <div class="xg:col-[3/4]">
      <Icon name="mdi:alert-rhombus" size="3.5rem" />
    </div>
    <div class="xg:col-[4/5]">
      <Icon name="mdi:all-inclusive" size="3.5rem" />
    </div>
    <div class="xg:col-[5/6]">
      <Icon name="mdi:android-debug-bridge" size="3.5rem" />
    </div>
    <div class="xg:col-[6/7]">
      <Icon name="mdi:antenna" size="3.5rem" />
    </div>
    <div class="xg:col-[7/8]">
      <Icon name="mdi:apache-kafka" size="3.5rem" />
    </div>
    <div class="xg:col-[8/9]">
      <Icon name="mdi:apps-box" size="3.5rem" />
    </div>
    <div class="xg:col-[9/10]">
      <Icon name="mdi:application-braces" size="3.5rem" />
    </div>
    <div class="xg:col-[10/11]">
      <Icon name="mdi:arrow-down-bold-circle" size="3.5rem" />
    </div>
  </div>

</section>
