---
import { Icon } from "astro-icon/components";
---
<div class="flex gap-1 text-white">
  <a href="">
    <Icon name="mdi:linkedin" size="2.5rem" />
  </a>
  <a href="">
    <Icon name="mdi:instagram" size="2.5rem" />
  </a>
</div>
